body {
  background-color: darkslategrey;
}

.phone-input {
  height: 50px;
  width: 225px;
  border: 1px solid darkgrey;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 100px;
}

.help-text {
  font-size: 18px;
  color: lightgrey;
}
